<div id="content">
    <h1>Examples</h1>
    <div>
        <a href="/examples/news/copy-news">
            <button class="button">Favorites</button>
        </a>
    </div>

    <hr>

    <div>
        <a href="/examples/categories/create-category">
            <button class="button">Create a new category</button>
        </a>


        <a href="/examples/categories">
            <button class="button">View news categories</button>
        </a>
    </div>

    <hr>

    <div>
        {% for item in objects_list %}
        <li>
            <a href="/examples/news/create-news?id={{item.id}}">
                <button class="button">
                    <span class="text_examples">Create news in category</span>
                    <span class="text_item_examples">{{item.name}}</span>
                </button>
            </a>


        </li>
        {% endfor %}
    </div>

</div>