<style>
    html {
        height: 100%;
    }

    * {
        transition: .3s all ease-in-out;
        margin: 0;
        padding: 0;
    }

    body {
        font: normal .80em 'trebuchet ms', arial, sans-serif;
        background: rgb(33, 37, 43);
        color: rgb(171, 178, 191);
    }

    hr {
        margin: 10px 0;
        opacity: 25%;
        border-radius: 12px;
        height: 2px;
    }

    p {
        padding: 0 0 20px 0;
        line-height: 1.7em;
    }

    img {
        border: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        letter-spacing: 0;
        padding: 0 0 5px 0;
    }

    h1, h2, h3 {
        font: normal 170% 'century gothic', arial;
        margin: 0 0 15px 0;
        padding: 15px 0 5px 0;
        color: rgb(53, 115, 212);
    }

    h2 {
        font-size: 160%;
        padding: 9px 0 5px 0;
        color: rgb(53, 115, 212);
    }

    h3 {
        font-size: 140%;
        padding: 5px 0 0 0;
    }

    h4, h6 {
        color: rgb(53, 115, 212);
        padding: 0 0 5px 0;
        font: normal 110% arial;
        text-transform: uppercase;
    }

    h5, h6 {
        color: rgb(171, 178, 191);
        font: normal 95% arial;
        letter-spacing: normal;
        padding: 0 0 15px 0;
    }

    a, a:hover {
        outline: none;
        text-decoration: none;
        color: #AEB002;
    }

    a:hover {
        text-decoration: none;
        color: rgb(53, 115, 212);
    }

    blockquote {
        margin: 20px 0;
        padding: 10px 20px 0 20px;
        border: 1px solid #E5E5DB;
        background: rgb(171, 178, 191);
    }

    ul {
        margin: 2px 0 22px 17px;
    }

    ul li {
        list-style-type: circle;
        margin: 0 0 6px 0;
        padding: 0 0 4px 5px;
        line-height: 1.5em;
    }

    ol {
        margin: 8px 0 22px 20px;
    }

    ol li {
        margin: 0 0 11px 0;
    }

    #main, #logo, #menubar, #site_content, #footer {
        margin-left: auto;
        margin-right: auto;
    }

    #header {
        background-color: rgb(27, 31, 37);
        height: 177px;
    }

    #logo {
        width: 880px;
        position: relative;
        height: 140px;
        background: transparent;
    }

    #logo #logo_text {
        position: absolute;
        top: 10px;
        left: 0;
    }

    #logo h1, #logo h2 {
        font: normal 300% 'century gothic', arial, sans-serif;
        border-bottom: 0;
        text-transform: none;
        margin: 0 0 0 9px;
    }

    #logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
        padding: 22px 0 0 0;
        color: rgb(171, 178, 191);
        letter-spacing: 0.1em;
        text-decoration: none;
    }

    #logo_text h1 a .logo_colour {
        color: rgb(228, 236, 4);
    }

    #logo_text a:hover .logo_colour {
        color: rgb(53, 115, 212);
    }

    #logo_text h2 {
        font-size: 120%;
        padding: 4px 0 0 0;
        color: #999;
    }

    #menubar {
        width: 880px;
        height: 46px;
    }

    ul#menu {
        float: right;
        margin: 0;
    }

    ul#menu li {
        float: left;
        padding: 0 0 0 9px;
        list-style: none;
        margin: 1px 2px 0 0;
    }

    ul#menu li a {
        font: normal 125% 'trebuchet ms', sans-serif;
        display: block;
        float: left;
        padding: 6px 35px;
        text-align: center;
        text-decoration: none;
        background-color: rgb(33, 37, 43);
        color: rgb(171, 178, 191);
        border-radius: 12px;
        border: 1px solid transparent;
    }

    ul#menu li.selected a {
        padding: 6px 35px;
    }

    ul#menu li.selected a, ul#menu li.selected a:hover {
        background: rgb(53, 115, 212);
        transform: scale(1);
        border-radius: 12px;
        color: rgb(171, 178, 191);
    }

    ul#menu li a:hover {
        transform: scale(1.1);
        color: rgb(228, 236, 4);
        border-radius: 12px 12px 0 0;
    }

    #site_content {
        width: 880px;
        overflow: hidden;
        margin: 20px auto 0 auto;
        padding: 10px 0 150px 30px;
    }

    #sidebar_container {
        float: right;
        width: 224px;
    }

    .sidebar_top {
        width: 222px;
        height: 14px;
    }

    .sidebar_base {
        width: 222px;
        height: 14px;
    }

    .sidebar {
        float: right;
        width: 222px;
        padding: 0;
        margin: 0 0 16px 0;
        background-color: rgb(27, 31, 37);
        border-radius: 12px;
        border: 1px solid rgba(171, 178, 191, 0.1);
    }

    .sidebar:hover {
        transform: translateX(-3%);
    }

    .sidebar_item {
        padding: 0 15px;
        width: 192px;
    }

    .sidebar li a.selected {
        color: #444;
    }

    .sidebar ul {
        margin: 0;
    }

    #content {
        text-align: left;
        width: 620px;
        padding: 0 0 0 5px;
        float: left;
    }

    #content ul {
        margin: 2px 0 22px 0;
    }

    #content ul li, .sidebar ul li {
        list-style-type: none;
        margin: 0 0 0 0;
        padding: 0 0 4px 25px;
        line-height: 1.5em;
    }

    #footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        font-family: 'trebuchet ms', sans-serif;
        font-size: 100%;
        height: 80px;
        padding: 28px 0 5px 0;
        text-align: center;
        background-color: rgb(40, 44, 52);
        color: #A8AA94;
    }

    #footer p {
        line-height: 1.7em;
        padding: 0 0 10px 0;
    }

    #footer a {
        color: #A8AA94;
        text-decoration: none;
    }

    #footer a:hover {
        color: rgb(171, 178, 191);
        text-decoration: none;
    }

    .search {
        color: #5D5D5D;
        width: 134px;
        padding: 4px;
        font: 100% arial, sans-serif;
    }

    .form_settings p {
        padding: 0 0 4px 0;
    }

    .form_settings span {
        float: left;
        width: 200px;
        text-align: left;
    }

    .form_settings input, .form_settings textarea {
        padding: 5px;
        width: 299px;
        font: 100% arial;
        border: 1px solid #E5E5DB;
        background: rgb(171, 178, 191);
        color: #47433F;
    }

    .form_settings textarea, .form_settings select {
        font: 100% arial;
        width: 299px;
    }

    .form_settings select {
        width: 310px;
    }

    table {
        margin: 10px 0 30px 0;
    }

    table tr th, table tr td {
        background: #3B3B3B;
        color: rgb(171, 178, 191);
        padding: 7px 4px;
        text-align: left;
    }

    table tr td {
        background: #E5E5DB;
        color: #47433F;
        border-top: 1px solid rgb(171, 178, 191);
    }

    li {
        list-style: none;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 50px);
        text-decoration: none;
        outline: none;
        cursor: pointer;
        padding: 10px 20px;
        margin: 5px 25px;
        background-color: rgb(27, 31, 37);
        color: rgb(171, 178, 191);
        border: 1px solid rgba(171, 178, 191, 0.1);
        border-radius: 12px;
        letter-spacing: 2px;
        transition: .5s all ease-in-out;
    }

    .button .sep {
        margin: 0 5px;
        color: rgba(171, 178, 191, 0.3);
    }

    .button .total {
        font-size: 10px;
    }

    .button .text {
        margin-right: 3px;
    }

    .button .text_item {
        color: rgb(53, 115, 212);
        text-transform: capitalize;
    }

    .button:hover .sep, .button:focus .sep {
        opacity: 0;
        margin-left: 5%;
        margin-right: 5%;
    }

    .button:hover .total, .button:focus .total {
        color: rgb(53, 115, 212);
        font-size: 13px;
    }

    .button:hover .text, .button:focus .text {
        margin-right: 5%;
    }

    .button:hover .text_item, .button:focus .text_item {
        color: rgb(228, 236, 4);
    }

    .button .text_examples {
        margin-right: 3px;
    }

    .button:hover .text_examples, .button:focus .text_examples {
        margin-right: 10%;
    }

    .button .text_item_examples {
        color: rgb(53, 115, 212);
        text-transform: capitalize;
    }


    .button:hover .text_item_examples, .button:focus .text_item_examples {
        margin-left: 10%;
        color: rgb(228, 236, 4);
    }

    .button:hover, .button:focus,
    .form li .button:hover, .form li .button:focus,
    .form input:focus {
        border-radius: 6px;
        border: 1px solid rgb(53, 115, 212);
    }


    .form form, .form li {
        display: flex;
        align-items: center;
    }

    .form input, .form li {
        outline: none;
        padding: 5px;
        font-size: 18px;
        background-color: rgb(33, 37, 43);
        color: rgb(171, 178, 191);
        border: 1px solid rgba(171, 178, 191, 0.1);
        border-radius: 12px;
        transition: .5s all ease-in-out;
    }

    .form input:hover {
        background-color: rgb(40, 44, 52);
    }

    .form input:focus {
        background-color: rgb(27, 31, 37);
    }

    .form input::placeholder {
        color: rgba(171, 178, 191, 0.5);
    }

    .form li {
        display: flex;
        justify-content: space-between;

        padding: 0 5px !important;
    }

    .form li .button {
        width: calc(100% - 5px);
        text-decoration: none;
        outline: none;
        cursor: pointer;
        padding: 10px 20px;
        margin: 5px;
        background-color: rgb(27, 31, 37);
        color: rgb(171, 178, 191);
        border: 1px solid rgba(171, 178, 191, 0.1);
        border-radius: 12px;
        letter-spacing: 2px;
        transition: .5s all ease-in-out;
    }

    .form .select {
        outline: none;
        min-width: 200px;
        min-height: 300px;
        margin-right: 10px;
        padding: 7px;
        background-color: rgb(27, 31, 37);
        color: rgb(171, 178, 191);
        border: 1px solid rgba(171, 178, 191, 0.1);
        border-radius: 12px;
    }

    .form .select option {
        margin: 1px 0;
        padding: 3px 10px;
        outline: none;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 6px;
    }

    .form .select option:hover {
        padding: 3px 10px;
        outline: none;
        background-color: transparent;
        color: rgb(228, 236, 4);
        border: 1px solid rgb(53, 115, 212);
        border-radius: 6px;
    }

    .form .select option:checked {
        padding: 3px 10px;
        outline: none;
        background-color: rgb(53, 115, 212);
        color: rgb(27, 31, 37);
        border: 1px solid rgb(53, 115, 212);
        border-radius: 6px;
    }
</style>